.bg-green {
    background-color: rgb(40, 190, 40) !important; 
  }
  .navbar-nav .nav-link  {
    color: white;
  }
  .navbar-nav .nav-link.active {
    color: white;
  }
  .navbar-brand {
    color: white;
  }
  